{% extends "../layouts/base.twig" %}

{% block title %}
	<title>ConfirmPayment</title>
{% endblock %}

{% block style %}
    		<link rel="stylesheet" href="/assets/css/globals.css">
    		<link rel="stylesheet" href="/assets/css/confirmation.css">

{% endblock %}
{% block main %}
<h1>Confirmation de commande</h1>
<p>Merci pour votre commande ! Voici les détails :</p>

<ul>
    {% for produit in produitsDansCommande %}
        <li>
            <strong>{{ produit.produit.nom }}</strong> - Quantité : {{ produit.quantite }} - Prix unitaire : {{ produit.produit.prix }} € - Total : {{ produit.total }} €
        </li>
    {% endfor %}
</ul>

<p><strong>Total de la commande : {{ totalCommande }} €</strong></p>
{% endblock %}
