{% extends "../layouts/base.twig" %}

{% block style %}
    <link rel="stylesheet" href="/assets/css/panier.css">
    		<link rel="stylesheet" href="/assets/css/globals.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" 
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block main %}
<main class="bp-container">
<button class="back-button" onclick="history.back()">&#8592; Retour à la boutique</button>
    <h1 class="cart-title">Votre panier</h1>
            <div class="cart-container">

    {% if commandes is empty %}
        <p class="cart-empty">Votre panier est vide</p>
    {% else %}
            {% for commande in commandes %}
                {% for produitDansCommande in commande.produitsDansCommande %}
                    <div class="cart-item" id="panier-contenu">
                        <h3 class="cart-item-title">{{ produitDansCommande.produit.nom }}</h3>
                        <p class="cart-item-quantity">Quantité : {{ produitDansCommande.quantite }}</p>
                        <p class="cart-item-status">Statut : {{ commande.statue }}</p>
                        <p class="cart-item-status">Prix unitaire : {{ (produitDansCommande.total / produitDansCommande.quantite) | number_format(2, ',', ' ') }}€</p>
                        <p class="cart-item-total">Total : {{ produitDansCommande.total | number_format(2, ',', ' ') }}€</p>
                        <a href="/deleteProductFromPanier/{{ produitDansCommande.id }}" class="cart-item-delete">Supprimer produit <i class="fa-solid fa-trash"></i></a>
                    </div>
                {% endfor %}
            {% endfor %}
                    <h2 class="cart-total">Total du panier : {{ montantTotal | number_format(2, ',', ' ') }}€</h2>

        </div>

        <form id="payment-form" class="payment-form" method="POST"> 
            <div id="card-element" class="card-element"></div>
            <div id="card-errors" class="card-errors" role="alert"></div>
            <button id="submit-payment" class="submit-payment">Payer maintenant</button>
        </form>
    {% endif %}
</main>
{% endblock %}

{% block script %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>
    var stripePublicKey = '{{ stripePublicKey }}';
        var montantTotal = {{ montantTotal }};
    </script>
    <script src="/js/payment.js"></script>
{% endblock %}